@font-face {
    font-family: 'Gloria', cursive;
    src: url('./fonts/GloriaHallelujah-Regular.ttf')
}

* {
    box-sizing: border-box;
}

:root {
    --dark-green: #3A4D39;
    --medium-green: #4F6F52;
    --light-green: #739072;
    --sand: #ECE3CE;
}

.btn-primary {
    background-color: var(--dark-green);
    color: var(--sand);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.row, .col {
    margin: 0
}

.form-control {
    font-size: 1.1rem;
    padding: 0.5rem;
    margin: 1rem;
}

body {
    background-color: var(--sand);
    margin: 0;
    padding: 0;
    font-family: 'Gloria', cursive;
    max-height: 100vh;
}

nav {
    background-color: var(--light-green);
}

#nav-links .list-group-item a {
    color: var(--dark-green);
    font-size: 1.5rem;
    text-decoration: none;
}

#nav-links .list-group-item {
    background-color: var(--sand);  
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
}

#logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--sand);
    font-weight: bold;
}

h1 {
   text-align: center;
   color: var(--dark-green);
   margin: 1rem;
   padding: 1rem;
}
p {
    text-align: center;
}


input {
    padding: 0.5rem;
}

main {
    height: 100%;
}

#submit-button {
    font-size: 1.5rem;
}

.col {
    padding: 1rem;
    margin: 1rem;
}

#browse .list-group-item {
    background-color: var(--medium-green);
    color: var(--sand);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 1rem;
    list-style-type: none;
    text-align: center;
}