@font-face {
    font-family: 'Gloria', cursive;
    src: url('./fonts/GloriaHallelujah-Regular.ttf')
}

* {
    box-sizing: border-box;
}

:root {
    --dark-green: #3A4D39;
    --medium-green: #4F6F52;
    --light-green: #739072;
    --sand: #ECE3CE;
}

body {
    background-color: var(--sand);
    margin: 0;
    padding: 0;
    font-family: 'Gloria', cursive;
    max-height: 100vh;
    max-width: 100vw;
}

nav {
    background-color: var(--medium-green);
    padding: 1rem;
    width: 100%;
}

.btn-primary {
    background-color: var(--dark-green);
    color: var(--sand);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--light-green);
}

.btn-secondary {
    background-color: var(--light-green);
    color: var(--sand);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.btn {
    margin: 0.4rem 0;
    padding: 0.5rem;
    width: 100%;
}

.form-control {
    font-size: 1.1rem;
    padding: 0.5rem;
    margin: 1rem;
}


nav .col {
    padding: 0;
    margin: 0.5rem;
}
#nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-links .list-group-item a {
    color: var(--sand);
    font-size: 1.2rem;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--sand);
}

#nav-links .list-group-item {
    background-color: var(--medium-green);
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
    border: none;
}

.userinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-left, .content-right {
    margin: 1rem;
}

.avatar-change {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.col-sm-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--sand);
    font-weight: bold;
}

h1 {
   text-align: center;
   color: var(--dark-green);
   margin: 1rem;
   padding: 1rem;
}
p {
    text-align: center;
}


input {
    padding: 0.5rem;
}

main {
    height: 100%;
}

#submit-button {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

#habit-form input {
    margin: 0.5rem 0;
}

.col {
    padding: 1rem;
    margin: 1rem;
}

#browse .list-group-item {
    background-color: var(--medium-green);
    color: var(--sand);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0.5rem;
    list-style-type: none;
    aspect-ratio: 1;
    width: 30%;
    max-width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    margin: 0;
}

#explore-content {
    justify-content: space-evenly;
}

#explore-content .content-left, #explore-content .content-right {
    margin: 0;
    margin-top: 1.5rem;
}

#habit-cards-div {
    background: none;
    border: none;
}

#habit-card {
    border: 2px solid var(--dark-green);
}

.form-select option:checked {
    background-color: var(--sand);
}

.form-select:focus {
    outline: none;
    box-shadow: none;
  }
  .form-select:focus-visible, .form-control:focus-visible {
    outline: rgba(115, 144, 114, 0.9) 1px 5px;
    box-shadow: rgba(115, 144, 114, 0.6) 0px 0px 0px 0.25rem;
  }

  #search-input input {
    margin-left: 0;
    margin-right: 0;
  }

  #reset-btn {
    margin-top: 1rem;
  }

  .content-left .card {
    margin: 1rem;
    border: 2px solid var(--dark-green);
  }

  .btn:disabled {
    background-color: var(--medium-green);
    cursor: not-allowed;
    color: var(--sand);
    text-decoration: line-through;
  }

  #post-form, #post-form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  #post-form-group textarea {
    margin: 1rem auto;
  }

  #postImage {
    border: 2px solid var(--dark-green);
    margin: 1rem 0;
  }

  #post-btn {
    margin: 1rem 0;
  }

  #signup-form, #login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    justify-items: center;
    border: 2px solid var(--dark-green);
  }

    #signup-form input, #signup-form label, #login-form input, #login-form label
    {
        margin: 0.5rem;
    }
#login-form {
    align-items: center;
}
#auth-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
}

#signup-form form, #login-form form {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-items: center;
}

.btn.active {
    border: 2px solid var(--light-green);
}

.btn.active:hover {
    background-color: var(--dark-green);
}
